In [44]:
import pandas as pd
from scipy.io.arff import loadarff
import pandas as pd

In [49]:
basedir = 'Bases/'
savedir = 'ProcessedBases/'

# Car

In [61]:
current_base = 'car'

data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])
df = df.applymap(lambda x: x.decode('utf-8')) 

cleanup_nums = {"Buying":   {"vhigh": 4, "high": 3, "med": 2, "low": 1 },
                "Maint":    {"vhigh": 4, "high": 3, "med": 2, "low": 1 },
                "Doors":    {"5more": 5},
                "Persons":  {"more": 6},
                "Lug_boot": {"small": 1, "med": 2, "big": 3 },
                "Safety":   {"low": 1, "med": 2, "high": 3 },
                "y":    {"unacc": 1, "acc": 2, "vgood": 4, "good": 3 }
               }

print("valores faltantes:", df.isnull().values.any())

df.rename(columns={'Acceptability':'y'}, inplace=True)
obj_df = df.replace(cleanup_nums)
df

valores faltantes: False

     Buying  Maint  Doors Persons Lug_boot Safety      y
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [62]:
obj_df.to_csv(savedir+current_base+'.csv', index = False)
obj_df

      Buying  Maint Doors Persons  Lug_boot  Safety  y
0          4      4     2       2         1       1  1
1          4      4     2       2         1       2  1
2          4      4     2       2         1       3  1
3          4      4     2       2         2       1  1
4          4      4     2       2         2       2  1
...      ...    ...   ...     ...       ...     ... ..
1723       1      1     5       6         2       2  3
1724       1      1     5       6         2       3  4
1725       1      1     5       6         3       1  1
1726       1      1     5       6         3       2  3
1727       1      1     5       6         3       3  4

[1728 rows x 7 columns]

# Cleveland

In [76]:
current_base = 'cleveland'

data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])

df['Num'] = df['Num'].apply(lambda x: x.decode('utf-8')) 
print("valores faltantes:", df.isnull().values.any())

df.rename(columns={'Num':'y'}, inplace=True)
df.to_csv(savedir+current_base+'.csv', index = False)

df

valores faltantes: False

,Age,Sex,Cp,Trestbps,Chol,Fbs,Restecg,Thalach,Exang,Oldpeak,Slope,Ca,Thal,y
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,35.0,1.0,2.0,122.0,192.0,0.0,0.0,174.0,0.0,0.0,1.0,0.0,3.0,0
293,56.0,1.0,2.0,120.0,240.0,0.0,0.0,169.0,0.0,0.0,3.0,0.0,3.0,0
294,63.0,0.0,4.0,124.0,197.0,0.0,0.0,136.0,1.0,0.0,2.0,0.0,3.0,1
295,59.0,1.0,4.0,164.0,176.0,1.0,2.0,90.0,0.0,1.0,2.0,2.0,6.0,3
296,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1

# Dermatology

In [100]:
current_base = 'dermatology'

data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])
df['Class'] = df['Class'].apply(lambda x: x.decode('utf-8')) 
df.rename(columns={'Class':'y'}, inplace=True)
print("valores faltantes:", df.isnull().values.any())
df.to_csv(savedir+current_base+'.csv', index = False)

df

valores faltantes: False

,Erythema,Scaling,Definite_borders,Itching,Koebner_phenomenon,Polygonal_papules,Follicular_papules,Oral_mucosal,Knee_and_elbow,Scalp_involvement,...,Granular_layer,Vacuolisation,Spongiosis,Saw-tooth_appearance,Follicular_horn_plug,Perifollicular_parakeratosis,Inflammatory_monoluclear,Band-like_infiltrate,Age,y
0,2.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,55.0,2
1,3.0,3.0,3.0,2.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8.0,1
2,2.0,1.0,2.0,3.0,1.0,3.0,0.0,3.0,0.0,0.0,...,0.0,2.0,3.0,2.0,0.0,0.0,2.0,3.0,26.0,3
3,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,...,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,40.0,1
4,2.0,3.0,2.0,2.0,2.0,2.0,0.0,2.0,0.0,0.0,...,2.0,3.0,2.0,3.0,0.0,0.0,2.0,3.0,45.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,25.0,4
354,3.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,36.0,4
355,3.0,2.0,2.0,2.0,3.0,2.0,0.0,2.0,0.0,0.0,...,0.0,3.0,0.0,3.0,0.0,0.0,2.0,3.0,28.0,3
356,2.0,1.0,3.0,1.0,2.0,3.0,0.0,2.0,0.0,0.0,...,0.0,2.0,0.0,1.0,0.0,0.0,2.0,3.0,50.0,3
357,3.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,...,2.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,35.0,1

# Ecoli

In [89]:
current_base = 'ecoli'
data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])
df['Site'] = df['Site'].apply(lambda x: x.decode('utf-8')) 

cleanup_nums = {"y": {"cp":1,"im":2,"imS":3,"imL":4,"imU":5,"om":6,"omL":7,"pp":8}}
               
print("valores faltantes:", df.isnull().values.any())

df.rename(columns={'Site':'y'}, inplace=True)
df = df.replace(cleanup_nums)
df.to_csv(savedir+current_base+'.csv', index = False)
df

valores faltantes: False

      Mcg   Gvh   Lip  Chg   Aac  Alm1  Alm2  y
0    49.0  29.0  48.0  5.0  56.0  24.0  35.0  1
1     7.0   4.0  48.0  5.0  54.0  35.0  44.0  1
2    56.0   4.0  48.0  5.0  49.0  37.0  46.0  1
3    59.0  49.0  48.0  5.0  52.0  45.0  36.0  1
4    23.0  32.0  48.0  5.0  55.0  25.0  35.0  1
..    ...   ...   ...  ...   ...   ...   ... ..
331  74.0  56.0  48.0  5.0  47.0  68.0   3.0  8
332  71.0  57.0  48.0  5.0  48.0  35.0  32.0  8
333  61.0   6.0  48.0  5.0  44.0  39.0  38.0  8
334  59.0  61.0  48.0  5.0  42.0  42.0  37.0  8
335  74.0  74.0  48.0  5.0  31.0  53.0  52.0  8

[336 rows x 8 columns]

# Flare

In [97]:
current_base = 'flare'

data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])
df = df.applymap(lambda x: x.decode('utf-8')) 
cleanup_nums = {"LargestSpotSize":  {"A":1, "R":2, "S":3, "X":4, "K":5, "H":6} ,
                "SpotDistribution": {"X":1, "O":2, "I":3, "C":4},
                "y":    {"H":1, "D":2, "C":3, "B":4, "E":5, "F":6}}

print("valores faltantes:", df.isnull().values.any())

df.rename(columns={'Class':'y'}, inplace=True)
obj_df = df.replace(cleanup_nums)
df

valores faltantes: False

,LargestSpotSize,SpotDistribution,Activity,Evolution,Prev24Hour,HistComplex,BecomeHist,Area,C-class,M-class,X-class,y
0,A,X,1,3,1,1,1,1,0,0,0,H
1,R,O,1,3,1,1,2,1,0,0,0,D
2,S,O,1,3,1,1,2,1,0,0,0,C
3,R,X,1,2,1,1,1,1,0,0,0,H
4,S,X,1,1,1,1,2,1,0,0,0,H
...,...,...,...,...,...,...,...,...,...,...,...,...
1061,S,X,1,2,1,1,2,1,0,0,0,H
1062,S,X,1,2,1,1,2,1,1,0,0,H
1063,S,X,1,2,1,1,2,1,1,0,0,H
1064,S,O,1,2,1,2,2,1,0,0,0,D
1065,R,O,1,3,1,1,2,1,0,0,0,D

In [99]:
obj_df.to_csv(savedir+current_base+'.csv', index = False)
obj_df

,LargestSpotSize,SpotDistribution,Activity,Evolution,Prev24Hour,HistComplex,BecomeHist,Area,C-class,M-class,X-class,y
0,1,1,1,3,1,1,1,1,0,0,0,1
1,2,2,1,3,1,1,2,1,0,0,0,2
2,3,2,1,3,1,1,2,1,0,0,0,3
3,2,1,1,2,1,1,1,1,0,0,0,1
4,3,1,1,1,1,1,2,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1061,3,1,1,2,1,1,2,1,0,0,0,1
1062,3,1,1,2,1,1,2,1,1,0,0,1
1063,3,1,1,2,1,1,2,1,1,0,0,1
1064,3,2,1,2,1,2,2,1,0,0,0,2
1065,2,2,1,3,1,1,2,1,0,0,0,2

# Glass

In [107]:
current_base = 'glass'

data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])
df['TypeGlass'] = df['TypeGlass'].apply(lambda x: x.decode('utf-8')) 
df.rename(columns={'TypeGlass':'y'}, inplace=True)
#df['Class'] = df['Class'].apply(lambda x: x.decode('utf-8')) 
print("valores faltantes:", df.isnull().values.any())
df.to_csv(savedir+current_base+'.csv', index = False)

df

valores faltantes: False

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,y
0,1.515888,12.87795,3.43036,1.40066,73.2820,0.68931,8.04468,0.00000,0.1224,1
1,1.517642,12.97770,3.53812,1.21127,73.0020,0.65205,8.52888,0.00000,0.0000,1
2,1.522130,14.20795,3.82099,0.46976,71.7700,0.11178,9.57260,0.00000,0.0000,1
3,1.522221,13.21045,3.77160,0.79076,71.9884,0.13041,10.24520,0.00000,0.0000,1
4,1.517551,13.39000,3.65935,1.18880,72.7892,0.57132,8.27064,0.00000,0.0561,1
...,...,...,...,...,...,...,...,...,...,...
209,1.519146,12.73165,1.84988,1.85969,72.6884,0.60237,10.08908,0.00000,0.0000,5
210,1.519169,14.14810,0.00000,2.09081,72.7388,0.00000,10.88532,0.00000,0.0000,6
211,1.516139,13.88210,1.77804,1.78907,73.0972,0.00000,8.66876,0.75915,0.0000,7
212,1.515091,15.15225,0.00000,2.25131,73.5004,0.00000,8.33520,0.63000,0.0000,7
213,1.522472,14.85965,2.20010,2.05871,70.2580,0.75762,9.75552,0.00000,0.0000,7

# Led7digit

In [113]:
current_base = 'led7digit'

data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])
print("valores faltantes:", df.isnull().values.any())
df['Number'] = df['Number'].apply(lambda x: x.decode('utf-8')) 
df.rename(columns={'Number':'y'}, inplace=True)

df.to_csv(savedir+current_base+'.csv', index = False)

df

valores faltantes: False

     Led1  Led2  Led3  Led4  Led5  Led6  Led7  y
0     0.0   1.0   1.0   0.0   1.0   1.0   1.0  0
1     1.0   1.0   1.0   0.0   0.0   1.0   1.0  0
2     1.0   1.0   1.0   0.0   1.0   1.0   1.0  0
3     1.0   1.0   1.0   0.0   1.0   1.0   1.0  0
4     0.0   0.0   1.0   0.0   0.0   1.0   0.0  1
..    ...   ...   ...   ...   ...   ...   ... ..
495   1.0   1.0   1.0   1.0   0.0   1.0   1.0  9
496   0.0   1.0   1.0   1.0   0.0   1.0   0.0  4
497   1.0   1.0   0.0   1.0   0.0   1.0   1.0  5
498   1.0   1.0   1.0   0.0   0.0   1.0   0.0  4
499   1.0   1.0   1.0   1.0   1.0   1.0   1.0  8

[500 rows x 8 columns]

# Page-blocks

In [118]:
current_base = 'page-blocks'

data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])
print("valores faltantes:", df.isnull().values.any())
df['Class'] = df['Class'].apply(lambda x: x.decode('utf-8')) 
df.rename(columns={'Class':'y'}, inplace=True)
df.to_csv(savedir+current_base+'.csv', index = False)

df

valores faltantes: False

,Height,Lenght,Area,Eccen,P_black,P_and,Mean_tr,Blackpix,Blackand,Wb_trans,y
0,5.0,7.0,35.0,1.400,0.400,0.657,2.33,14.0,23.0,6.0,1
1,6.0,7.0,42.0,1.167,0.429,0.881,3.60,18.0,37.0,5.0,1
2,6.0,18.0,108.0,3.000,0.287,0.741,4.43,31.0,80.0,7.0,1
3,5.0,7.0,35.0,1.400,0.371,0.743,4.33,13.0,26.0,3.0,1
4,6.0,3.0,18.0,500.000,0.500,0.944,2.25,9.0,17.0,4.0,1
...,...,...,...,...,...,...,...,...,...,...,...
5467,11.0,119.0,1309.0,10.818,0.268,0.678,1.72,351.0,887.0,204.0,1
5468,2.0,62.0,124.0,31.000,0.452,0.565,11.20,56.0,70.0,5.0,2
5469,1.0,20.0,20.0,20.000,0.850,1.000,8.50,17.0,20.0,2.0,2
5470,1.0,87.0,87.0,87.000,0.920,1.000,16.00,80.0,87.0,5.0,2
5471,1.0,279.0,279.0,279.000,0.964,1.000,38.43,269.0,279.0,7.0,2

# Lymphography

In [148]:
current_base = 'lymphography'

data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])

clear_names = {'Lymphatics', 'Block_of_affere', 'Bl_of_lymph_c', 'Bl_of_lymph_s',
              'By_pass', 'Extravasates', 'Regeneration_of' ,'Early_uptake_in',
              'Changes_in_lym',  'Defect_in_node', 'Changes_in_node', 'Changes_in_stru',
              'Special_forms', 'Dislocation_of', 'Exclusion_of_no', 'Class'}

for name in clear_names: 
    df[name] = df[name].apply(lambda x: x.decode('utf-8')) 

print("valores faltantes:", df.isnull().values.any())

df.rename(columns={'Class':'y'}, inplace=True)

df

valores faltantes: False

,Lymphatics,Block_of_affere,Bl_of_lymph_c,Bl_of_lymph_s,By_pass,Extravasates,Regeneration_of,Early_uptake_in,Lym_nodes_dimin,Lym_nodes_enlar,Changes_in_lym,Defect_in_node,Changes_in_node,Changes_in_stru,Special_forms,Dislocation_of,Exclusion_of_no,No_of_nodes_in,y
0,deformed,yes,no,no,no,yes,no,yes,1.0,2.0,oval,lacunar,lac_central,faint,vesicles,no,yes,3.0,malign_lymph
1,displaced,yes,no,no,no,no,no,yes,1.0,2.0,oval,lacunar,lac_central,faint,no,no,yes,2.0,malign_lymph
2,arched,yes,no,no,no,yes,no,yes,1.0,4.0,round,lac_central,lac_central,faint,vesicles,yes,yes,7.0,malign_lymph
3,arched,no,no,no,no,yes,no,no,1.0,2.0,oval,lacunar,lacunar,drop_like,no,no,no,1.0,malign_lymph
4,arched,no,no,no,no,no,no,yes,1.0,2.0,oval,lacunar,no,stripped,no,yes,yes,2.0,malign_lymph
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,displaced,yes,yes,no,no,yes,no,yes,1.0,2.0,oval,lac_margin,lac_margin,faint,vesicles,yes,yes,2.0,metastases
144,arched,yes,no,no,no,no,no,yes,1.0,2.0,oval,lacunar,lac_margin,faint,vesicles,no,yes,1.0,metastases
145,deformed,yes,no,no,no,yes,no,yes,1.0,2.0,round,lac_margin,lac_margin,grainy,chalices,yes,yes,3.0,metastases
146,displaced,yes,no,no,yes,yes,no,yes,1.0,2.0,round,lacunar,lac_margin,grainy,vesicles,yes,yes,4.0,metastases
147,deformed,yes,yes,yes,yes,yes,yes,no,2.0,2.0,oval,lac_central,lacunar,coarse,vesicles,yes,yes,7.0,fibrosis

In [149]:
for col_name in df.columns:
    if(df[col_name].dtype == 'object'):
        df[col_name]= df[col_name].astype('category')
        df[col_name] = df[col_name].cat.codes
        
df.to_csv(savedir+current_base+'.csv', index = False)
df

,Lymphatics,Block_of_affere,Bl_of_lymph_c,Bl_of_lymph_s,By_pass,Extravasates,Regeneration_of,Early_uptake_in,Lym_nodes_dimin,Lym_nodes_enlar,Changes_in_lym,Defect_in_node,Changes_in_node,Changes_in_stru,Special_forms,Dislocation_of,Exclusion_of_no,No_of_nodes_in,y
0,1,1,0,0,0,1,0,1,1.0,2.0,1,2,0,3,2,0,1,3.0,1
1,2,1,0,0,0,0,0,1,1.0,2.0,1,2,0,3,1,0,1,2.0,1
2,0,1,0,0,0,1,0,1,1.0,4.0,2,0,0,3,2,1,1,7.0,1
3,0,0,0,0,0,1,0,0,1.0,2.0,1,2,2,2,1,0,0,1.0,1
4,0,0,0,0,0,0,0,1,1.0,2.0,1,2,3,7,1,1,1,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,2,1,1,0,0,1,0,1,1.0,2.0,1,1,1,3,2,1,1,2.0,2
144,0,1,0,0,0,0,0,1,1.0,2.0,1,2,1,3,2,0,1,1.0,2
145,1,1,0,0,0,1,0,1,1.0,2.0,2,1,1,4,0,1,1,3.0,2
146,2,1,0,0,1,1,0,1,1.0,2.0,2,2,1,4,2,1,1,4.0,2
147,1,1,1,1,1,1,1,0,2.0,2.0,1,0,2,0,2,1,1,7.0,0

# nursery

In [151]:
current_base = 'nursery'

data = loadarff(basedir+current_base+'.dat')
df = pd.DataFrame(data[0])
print("valores faltantes:", df.isnull().values.any())
df = df.applymap(lambda x: x.decode('utf-8')) 

df.rename(columns={'Class':'y'}, inplace=True)

df

valores faltantes: False

,Parents,Has_nurs,Form,Children,Housing,Finance,Social,Health,y
0,usual,proper,complete,1,convenient,convenient,nonprob,recommended,recommend
1,usual,proper,complete,1,convenient,convenient,nonprob,not_recom,not_recom
2,usual,proper,complete,1,convenient,convenient,slightly_prob,priority,priority
3,usual,proper,complete,1,convenient,convenient,problematic,recommended,priority
4,usual,proper,complete,1,convenient,convenient,problematic,priority,priority
...,...,...,...,...,...,...,...,...,...
12955,great_pret,very_crit,foster,more,convenient,inconv,nonprob,not_recom,not_recom
12956,great_pret,very_crit,foster,more,less_conv,convenient,slightly_prob,not_recom,not_recom
12957,great_pret,very_crit,foster,more,critical,convenient,problematic,recommended,spec_prior
12958,great_pret,very_crit,foster,more,critical,convenient,problematic,priority,spec_prior
12959,great_pret,very_crit,foster,more,critical,inconv,slightly_prob,not_recom,not_recom

In [152]:
for col_name in df.columns:
    if(df[col_name].dtype == 'object'):
        df[col_name]= df[col_name].astype('category')
        df[col_name] = df[col_name].cat.codes
        
df.to_csv(savedir+current_base+'.csv', index = False)
df

       Parents  Has_nurs  Form  Children  Housing  Finance  Social  Health  y
0            2         3     0         0        0        0       0       2  2
1            2         3     0         0        0        0       0       0  0
2            2         3     0         0        0        0       2       1  1
3            2         3     0         0        0        0       1       2  1
4            2         3     0         0        0        0       1       1  1
...        ...       ...   ...       ...      ...      ...     ...     ... ..
12955        0         4     2         3        0        1       0       0  0
12956        0         4     2         3        2        0       2       0  0
12957        0         4     2         3        1        0       1       2  3
12958        0         4     2         3        1        0       1       1  3
12959        0         4     2         3        1        1       2       0  0

[12960 rows x 9 columns]

# Autos

In [181]:
current_base = 'autos'

data = loadarff(basedir+current_base+'.arff')
df = pd.DataFrame(data[0])
print("valores faltantes:", df.isnull().values.any())
df = df.dropna()    
    
print("valores faltantes:", df.isnull().values.any())
#df.rename(columns={'Class':'y'}, inplace=True)

df

valores faltantes: True
valores faltantes: False

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,symboling
3,164.0,b'audi',b'gas',b'std',b'four',b'sedan',b'fwd',b'front',99.8,176.6,...,b'mpfi',3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0,b'2'
4,164.0,b'audi',b'gas',b'std',b'four',b'sedan',b'4wd',b'front',99.4,176.6,...,b'mpfi',3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0,b'2'
6,158.0,b'audi',b'gas',b'std',b'four',b'sedan',b'fwd',b'front',105.8,192.7,...,b'mpfi',3.19,3.40,8.5,110.0,5500.0,19.0,25.0,17710.0,b'1'
8,158.0,b'audi',b'gas',b'turbo',b'four',b'sedan',b'fwd',b'front',105.8,192.7,...,b'mpfi',3.13,3.40,8.3,140.0,5500.0,17.0,20.0,23875.0,b'1'
10,192.0,b'bmw',b'gas',b'std',b'two',b'sedan',b'rwd',b'front',101.2,176.8,...,b'mpfi',3.50,2.80,8.8,101.0,5800.0,23.0,29.0,16430.0,b'2'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95.0,b'volvo',b'gas',b'std',b'four',b'sedan',b'rwd',b'front',109.1,188.8,...,b'mpfi',3.78,3.15,9.5,114.0,5400.0,23.0,28.0,16845.0,b'-1'
201,95.0,b'volvo',b'gas',b'turbo',b'four',b'sedan',b'rwd',b'front',109.1,188.8,...,b'mpfi',3.78,3.15,8.7,160.0,5300.0,19.0,25.0,19045.0,b'-1'
202,95.0,b'volvo',b'gas',b'std',b'four',b'sedan',b'rwd',b'front',109.1,188.8,...,b'mpfi',3.58,2.87,8.8,134.0,5500.0,18.0,23.0,21485.0,b'-1'
203,95.0,b'volvo',b'diesel',b'turbo',b'four',b'sedan',b'rwd',b'front',109.1,188.8,...,b'idi',3.01,3.40,23.0,106.0,4800.0,26.0,27.0,22470.0,b'-1'
204,95.0,b'volvo',b'gas',b'turbo',b'four',b'sedan',b'rwd',b'front',109.1,188.8,...,b'mpfi',3.78,3.15,9.5,114.0,5400.0,19.0,25.0,22625.0,b'-1'

In [182]:

clear_names = {'make','symboling', 'fuel-type', 'aspiration', 'num-of-doors',
              'body-style', 'drive-wheels', 'engine-location' ,'engine-type',
              'num-of-cylinders',  'fuel-system'}

for name in clear_names: 
    df[name] = df[name].apply(lambda x: x.decode('utf-8')) 
    
cleanup_nums = {"num-of-doors":   {"four": 4, "two": 2 },
                "num-of-cylinders":    {"eight": 8, "five": 5, 
                                        "four": 4, "six":6 , "three": 3, "twelve": 12, "two":2}} 
    

cat = {'make','symboling', 'fuel-type', 'aspiration',
              'body-style', 'drive-wheels', 'engine-location' ,'engine-type',  'fuel-system'}
    
df = df.replace(cleanup_nums)


for col_name in cat:
    if(df[col_name].dtype == 'object'):
        df[col_name]= df[col_name].astype('category')
        df[col_name] = df[col_name].cat.codes

df.rename(columns={'symboling':'y'}, inplace=True)
df.to_csv(savedir+current_base+'.csv', index = False)
df

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,y
3,164.0,0,1,0,4,3,1,0,99.8,176.6,...,4,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0,4
4,164.0,0,1,0,4,3,0,0,99.4,176.6,...,4,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0,4
6,158.0,0,1,0,4,3,1,0,105.8,192.7,...,4,3.19,3.40,8.5,110.0,5500.0,19.0,25.0,17710.0,3
8,158.0,0,1,1,4,3,1,0,105.8,192.7,...,4,3.13,3.40,8.3,140.0,5500.0,17.0,20.0,23875.0,3
10,192.0,1,1,0,2,3,2,0,101.2,176.8,...,4,3.50,2.80,8.8,101.0,5800.0,23.0,29.0,16430.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95.0,17,1,0,4,3,2,0,109.1,188.8,...,4,3.78,3.15,9.5,114.0,5400.0,23.0,28.0,16845.0,0
201,95.0,17,1,1,4,3,2,0,109.1,188.8,...,4,3.78,3.15,8.7,160.0,5300.0,19.0,25.0,19045.0,0
202,95.0,17,1,0,4,3,2,0,109.1,188.8,...,4,3.58,2.87,8.8,134.0,5500.0,18.0,23.0,21485.0,0
203,95.0,17,0,1,4,3,2,0,109.1,188.8,...,2,3.01,3.40,23.0,106.0,4800.0,26.0,27.0,22470.0,0
204,95.0,17,1,1,4,3,2,0,109.1,188.8,...,4,3.78,3.15,9.5,114.0,5400.0,19.0,25.0,22625.0,0